@import "../../assets/scss/variables.scss";


.header_lang{
    &_select {
        display: none;
        width: 60px;
        text-align: center;
        border: 1px solid black;
        // border-radius: 10px;
        position: absolute;
        top: 20px;
        right: -12px;
        .select_btn{
            width: 100%;
            background-color: white;
            border: 0;
            padding: 7px 4px;
        }
        .select_btn:hover {
            border :1px solid black
        }
    }
    position: relative;
    display: flex;
    align-items: center;
    color: #181818;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; 

  
}